<!--h1 class="ex" style="display: inline-block">Example</h1-->
<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>Categories: <%= @question.categories.map(&:name).join(", ") %></p>
<p>Created by: <%= @question.user_first_name %></p>
<p>View count: <%= @question.view_count %></p>
<p>Like count: <%= @question.likes_count %></p>
<p>Favorite count: <%= @question.favorites_count %></p>

<%= link_to "Edit question", edit_question_path(@question) %>
<%= link_to "Delete question", 	question_path(@question), 
	method: :delete, 	data: {confirm: "are you sure?"} %>

<!-- button_to puts a button inside the form_for post, while link_to is just inside <a> tag -->
<%#= button_to "Like", question_likes_path(@question), class: "btn btn-info" %>
<% if user_signed_in? && current_user.has_liked?(@question) %>
	<%# @like = Like.find(question_id: @question.id, user_id: current_user.id) %>
	<% @like = current_user.likes.find_by_question_id(@question.id) %>
	<%= link_to "Unlike", question_like_path(@question, @like), class: "btn btn-danger", method: :delete %>
<% else %>
	<%= link_to "Like", question_likes_path(@question), class: "btn btn-info", method: :post %>
<% end %>

<% if user_signed_in? && current_user.has_favorited?(@question) %>
	<% @favorite = current_user.favorites.find_by_question_id(@question.id) %>
	<%= link_to "Unfav", question_favorite_path(@question, @favorite), class: "btn btn-danger", method: :delete %>
<% else %>
	<%= link_to "Fav", question_favorites_path(@question), class: "btn btn-info", method: :post %>
<% end %>

<hr><h2>Create an answer</h2>
<%= render "/answers/form" %>  <!-- refactor answer form into answer's view folder partial form -->

<h2>Answers</h2>  <!-- loop through answers list and print them all -->
<% @question.answers.each do |answer| %>
	<%= answer.body %> 
	<p>Answer by: <%= answer.user_first_name %></p>
	<%= link_to "Delete", question_answer_path(@question.id, answer.id), method: "delete", data: {confirm: "delete this answer for real?"}, class: "btn btn-sm btn-danger"  %>
	<%#= button_to "Delete", question_answer_path(@question.id, answer.id), method: :delete, data: {confirm: "delete this answer for real?"}, class: "btn btn-sm btn-danger" %>

	<p></p>
	<!-- @comment || Comment.new    so we don't have to insert Comment.new in both Questions and Answers controller page.  -->
	<%= form_for [answer, @comment || Comment.new] do |f| %>
		<div class="form-group">
			<%= f.label :body %>
			<%= f.text_area :body, class: "form-control", placeholder: "Enter a comment", rows: 1 %>
		</div>
		<%= f.submit class: "btn btn-info btn-sm" %>
	<% end %>

	<hr>
	<% answer.comments.each do |comment| %>
		<div class="well">
			<%= comment.body %>  
			<%= " | Comment by: #{comment.user_first_name}  " %> 
			<%= link_to "Delete comment", answer_comment_path(answer.id, comment.id), method: :delete, data: {confirm: "delete this comment for real?"}, class: "btn btn-sm btn-danger" %>
		</div>
	<% end %>

<% end %>