<!--h1 class="ex" style="display: inline-block">Example</h1-->
<h1><%= @question.title %></h1>
<div class="row">
<div class="col-md-9">
	<p><%= @question.body %></p>
	<!--	<p>Created on: <%#= @question.created_at.strftime("%Y-%B-%d") %></p> -->
	<p>Created on: <%= stdDate(@question.created_at) %></p>
	<p>Created by: <%= @question.user_first_name %></p>
	<p>Categories: <%= @question.categories.map(&:name).join(", ") %></p>
	<p>View count: <%= @question.view_count %></p>
	<p>Like count: <%= @question.likes_count %></p>
	<p>Favorite count: <%= @question.favorites_count %></p>
</div>
<div class="col-md-3">  <!-- use with miniMagick image attachment -->
	<%= image_tag @question.image_url(:medium) %>
</div>
</div>

<!-- 'cancancan' restriction at Viewer level -->
<% if can? :manage, @question %>  <!-- if can? :edit, if can? :destroy -->
	<%= link_to "EditQ", edit_question_path(@question) %>
	<%= link_to "DeleteQ", 	question_path(@question), 
		method: :delete, 	data: {confirm: "are you sure?"} %>
<% end %>

<!-- button_to puts a button inside the form_for post, while link_to is just inside <a> tag -->
<%#= button_to "Like", question_likes_path(@question), class: "btn btn-info" %>
<% if user_signed_in? && current_user.has_liked?(@question) %>
	<%# @like = Like.find(question_id: @question.id, user_id: current_user.id) %>
	<% @like = current_user.likes.find_by_question_id(@question.id) %>
	<%= link_to "Unlike", question_like_path(@question, @like), class: "btn btn-danger", method: :delete %>
<% else %>
	<%= link_to "Like", question_likes_path(@question), class: "btn btn-info", method: :post %>
<% end %>

<% if user_signed_in? && current_user.has_favorited?(@question) %>
	<% @favorite = current_user.favorites.find_by_question_id(@question.id) %>
	<%= link_to "Unfav", question_favorite_path(@question, @favorite), class: "btn btn-danger", method: :delete %>
<% else %>
	<%= link_to "Fav", question_favorites_path(@question), class: "btn btn-info", method: :post %>
<% end %>

<hr><h2>Create an answer:</h2>
<div class="answer-form">
	<%= render "/answers/form" %>  <!-- refactor answer form into answer's view folder partial form -->
</div>

<h2>Answers:</h2>  <!-- loop through answers list and print them all -->
<%#= render @quesstion.answers %>

<div class="answers">
	<% @question.answers.each do |ans| %>
		<%= render partial: "/answers/answer", locals: { answer: ans } %>
	<% end %>
</div>