<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">Home</a>  | <a href="/hello">Hello</a> | <a href="/about">About Us</a> |

<!-- href hardcodes in the address, but 'link_to' is better because you only have to change it routes.rb one file should you change the URL path --> 
<%= link_to "New Question", new_question_path %>  ||
<%= link_to "INDEX ALL questions", questions_path %>

<%= flash[:notice] || flash[:error] %>
<%= yield %>

</body>
</html>
